{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<style>
    .liste_sondage { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .liste_sondage code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="liste_sondage container">
    <h1>Liste des sondages </h1>
    <div class="row d-flex">
       {% for Sondage in sondages %}
       <div id="{{ Sondage.id }}"></div>
        <div class="col-sm-6">
             <h4 class="texte-center">{{ Sondage.titre}}</h4>
             Question :  {{ Sondage.question }}
             {% for Reponse in Sondage.reponses %}
                 <div class="col-sm-6">
                    <li>{{ Reponse.getLibelleReponse }} </li>

                </div>
              {% endfor %}
              {% if Sondage.getTypeSondage  %}
                  <a>sondage brouillon non votable </a>
                  <a href="{{ path('editSondage', {'id': Sondage
                    .id}) }}">modifier</a>
             {% else %}
                   <a href="{{ path('voteSondage', {'id': Sondage
                  .id}) }}">voter</a>
                  <a href="{{ path('resSondage', {'id': Sondage
                  .id}) }}">Résultats</a>
             {% endif %}
             <a href="{{ path('delSondage', {'id': Sondage
                .id}) }}">supprimer</a>

             <a href="{{ path('retActions')}}">Retour actions</a>
         {% endfor %}
        </div>
  </div>
</div>
{% endblock %}
