{% extends 'base.html.twig' %}

{% block title %} {% endblock %}
{% form_theme myForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper container">
    <h1 class="text-center">Création sondage </h1>
    <div class="col-sm_6">


        <div class="form-group">
         {{ form_start(myForm) }}
         {{ form_row(myForm.titre, {attr: {class:'form-control'}}) }}
         {{ form_row(myForm.question, {attr: {class:'form-control'}}) }}
         <button type="button" class="add-reponse-sondage">Ajouter réponse</button>
        <ul class="reponses">
           {% for reponse in myForm.reponses %}
             <li>{{ form_row(reponse.libelle_reponse) }}</li>
            {% endfor %}
         </ul>

        {{ form_row(myForm.type_sondage, {attr: {class:'form-control'}})}}
        {{ form_row(myForm.type_reponse, {attr: {class:'form-control'}})}}
         <input  type="submit" value="envoyer">
         {{ form_end(myForm) }}
        </div>

    </div>
</div>
{% endblock %}
