{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container example-wrapper">
    <h1 class="texte-center">StroPaul</h1>
    <h2 class="texte-center">Créez vos sondages</h2>
    <a href="{{ path('app_register') }}">s'enregistrer</a>
    <a href="{{ path('app_login') }}">s'authentifier</a>
    <a href="{{ path('app_logout') }}">se déconnecter</a>

</div>
{% endblock %}
