{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<style>
    .liste_sondage { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .liste_sondage code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="res_sondage container">
    <h1 class="text-center">Modification du sondage </h1>

    {{ include('sondages/_form.html.twig', {'button_label': 'Modifier'}) }}
 {# <div class="row col-sm-6" id="{{ sondage.id }}">
      <h4 class="texte-center">{{ sondage.titre}}</h4>
      Question :  {{ sondage.question }}
      {{ form_label(sondage.getTypeSondage,'décocher pour rendre le sondage votable') }}
    {% for Reponse in sondage.reponses %}

      <div class="row mt-2">
         <div class="d-flex">
             <span class="p-2 flex-grow-1"> {{ Reponse.getLibelleReponse }}</span>

         </div>

      </div>

    {% endfor %}

  </div>

    <a href="{{ path('listSondage')}}">Retour actions</a>
    <input  type="submit" value="Rendre votable">
  </div>#}
</div>
{% endblock %}
