{% extends 'base.html.twig' %}

{% block title %}Hello SondagesController!{% endblock %}

{% block body %}
<style>
    .homepage { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .homepage code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container homepage">
    <h1>Actions</h1>
    <div class="row">
    <a href="{{ path('newSondage') }}">créer un sondage</a>
    <a class="ml6" href="{{ path('listSondage') }}">lister tous les sondages</a>
{#        <a class="ml6" href="{{ path('mySondage') }}">mes votes</a>#}
        <a class="ml6" href="{{ path('main') }}">retour home</a>
    </div>
</div>
{% endblock %}
