{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<style>
    .liste_sondage { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .liste_sondage code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste_sondage container">

  <div class="row" id="{{ sondage.id }}">
      <div class="col">
          <h1 class="text-center">Résultat du sondage </h1>
          <h4 class="text-center">{{ sondage.titre}}</h4>
          <h5 class="text-center">Question :  {{ sondage.question }}</h5>

          {% for Reponse in sondage.reponses %}

                <div class="row d-flex">
                 <span class="col-sm-8"> {{ Reponse.getLibelleReponse }}</span>
                 <span>{{ tabvote[Reponse.getLibelleReponse] }} votes</span>
                </div>
                {% set percent= 0%}

                {% set percent= (tabvote[Reponse.getLibelleReponse] /nbvotes) * 100 %}
                 <div class="progress">
                  <div id="progressbarLoisirs" class="progress-bar progress-bar-striped bg-danger"
                       role="progressbar" style="height:20px; width: 100%" aria-valuenow="{{ percent }}">{{ percent }}%
                  </div>
                 </div>

            {% endfor %}

             <a> Nombre de votes : {{ nbvotes }}</a>
      </div>

    <a href="{{ path('retActions')}}">Retour actions</a>

  </div>
</div>
{% endblock %}

