{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste_sondage container">
  <div class="row text-center" id="{{ sondage.id }}">
      <div class="col">
      <h1 class="text-center">Vote pour le sondage :  </h1>
    <h4>{{ sondage.titre}}</h4>
    <h4> Question :  {{ sondage.question }}</h4>
    {{ form_start(myForm) }}
    {{ form_row(myForm) }}
     <div class="row mt-4">
         {% if sondage.getTypeReponse == '1'%}
         <a> Ce sondage est à choix multiple </a>
    {%  else %}
      <a> Ce sondage est à choix unique </a>
      </div>
    {%  endif %}
  </div>
  <div class="row d-flex">
  <input class="col-sm-6" type="submit" value="Envoyer">
    <a class="col-sm-6" href="{{ path('retActions')}}">Retour actions</a>
  <a class="col-sm-6" href="{{ path('listSondage')}}">retour liste</a>
  </div>
  </div>
</div>
{% endblock %}
